@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto&display=swap");

*{
  margin: 0;
}

html{
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Nav Home */

.nav{
    width: 100%;
    height: 100px;
    background: #343434;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoNav{
    width: 142px;
    height: 33px;
    padding: auto auto;
  }
  
  #home{
    width: 75px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
  }
  
/*----------*/

/* Body */

.container{
    margin: 0 auto;
    padding-left: 71px;
    padding-right: 71px;
    margin-bottom: 94px;
    max-width: 1280px;
    width: 1280px;
}
  
/*----------*/

/* Title Page */

.titlePage{
    margin-top: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titlePage > h1{
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;

    color: #242D35;
}

.btnBack{
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 12px;
    width: 108px;
    height: 40px;
    gap: 10.67px;

    background: #FFFFFF;

    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #0C1116;
}

.imgBtnBack{
    height: 10.67px;
}

.btnBack:hover{
    cursor: pointer;
}

/*----------*/

/* Content Page */

.subTitlePage{
    display: flex;
    align-items: center;
    gap: 20px;
}

.subTitlePage > h2{
    height: 36px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;

    color: #242D35;
}

.badges{
    display: flex;
    gap: 9px;
}

.badge{
    height: 12px;
    display: flex;
    align-items: center;
    padding: 5px 10px 7px 10px;

    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;

    color: white;
    border-radius: 12px;
    border: none;
}

.projectContents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 23px;
}

.projectContent{
    width: 698px;
}

.projectContent > p{
    display: flex;
    text-align: justify;

    margin-top: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #373F47;
}

/*----------*/


/*cards*/

.cards{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 701px;
    height: 91px;

    background: #F3F3F3;
    border-radius: 15px;
}

.card{
    width: 111.32px;
    height: 68px;
    display: flex;
    justify-content: space-around;

    background: #FFFFFF;

    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 12px;

    display: flex;
    align-items: center;
}

.card > img{
    height: 18px;
}

.infoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.labelCard{
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #373F47;
}

.numberCard{
    height: 24px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 00;
    font-size: 16px;
    line-height: 150%;

    color: #4F5B67;
}

/*----------*/

/* Footer */

footer{
    height: 13px;
    width: 100%;
    background: #343434;
    margin-top: auto;
}
  
/*----------*/

.user{
    width: 249px;
    height: 332px;
    background: #FFFFFF;
  
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 22px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imgUser{
    width: 86px;
    height: 86px;
    border-radius: 50%;
  }
  
  .name{
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #242D35;
  }
  
  .office{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #4F5B67;
  }
  
  .identificationUser{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .preview{
    display: flex;
    margin-top: 24px;
    gap: 11px
  }
  
  .projectsPreview, .starsPreview, .followersPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .labelPreview{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #A8B0B9;
  }
  
  .numberPreview{
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #373F47;
  }
  
  .splitPreview{
    background-color: #F1F1F1;
    height: 34px;
    width: 1px;
  }
  
  .viewProfile{
    display: flex;
    padding: 13px 20px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 32px;
    align-items: center;
  
    margin-top: 36px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
  }
  
  .viewProfile:hover{
  cursor: pointer;
  }